@model IEnumerable<ShoppingCartIndexViewModel>
@{
    ViewData["Title"] = "Index";
    decimal total = 0;
}

<h2 class="my-5 text-secondary">Shopping Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th class="py-3 text-muted">Image</th>
            <th class="py-3 text-muted">Name</th>
            <th class="py-3 text-muted">Price</th>
            <th class="py-3 text-muted">Discount</th>
            <th class="py-3 text-muted">Sub Total</th>
            <th class="py-3 text-muted">Quantity</th>
            <th class="py-3 text-muted">Action</th>
        </tr>
    </thead>

    <tbody id="dataContainer">
        @foreach (var item in Model)
        {
            <tr id="con@(item.Id)">
                <td class="py-2">
                    <img src="/@item.ImgUrl" style="width:46px;height:46px;"/>
                </td>
                <td class="py-3">@item.Name</td>
                <td class="py-3">$<span id="prc@(item.Id)">@item.Price</span></td>
                <td class="py-3 text-danger">$<span id="dis@(item.Id)">@((item.Price * item.Discount/100).ToString("N2"))</span></td>
                <td class="py-3">$<span id="sub@(item.Id)">@((item.Quantity*(item.Price - item.Price * item.Discount/100)).ToString("N2"))</span></td>
                <td class="py-3">
                    <div class="d-flex align-items-center">
                        <button id="dec@(item.Id)" class="btn btn-danger decreaseBtn"><i class="bi bi-dash"></i></button>
                        <span id="@item.Id" class="bg-light text-center" style="min-width:30px">@item.Quantity</span>
                        <button id="inc@(item.Id)" class="btn btn-primary increaseBtn"><i class="bi bi-plus"></i></button>
                    </div>
                </td>
                <td class="py-3">
                    <a href="/shop/details/@item.ItemId"><i class="bi bi-eye fs-5 me-2"></i></a>
                    <a type="button" id="del@(item.Id)" class="deleteBtn"><i class="bi bi-trash fs-5 text-danger"></i></a>
                </td>
            </tr>
        }
         
    </tbody>
</table>

<div asp-controller="Order" asp-action="PlaceOrder" class="d-flex justify-content-end align-items-center">
    <span class="me-3">Total: $<span id="total">@Model.Sum(cartItem=>(cartItem.Price - cartItem.Price * cartItem.Discount/100)*(cartItem.Quantity==0?1:cartItem.Quantity)).ToString("N2")</span></span>
    <button data-bs-toggle="modal" data-bs-target="#addressModal" id="addressModalBtn" class="btn btn-primary float-end">Place Order</button>
</div>

<div class="modal fade" id="addressModal">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="m-5 text-secondary">Select One</h2>
                <div class="list-group list-group-numbered m-5" id="addressesContainer">

                </div>
                <div class="text-center my-5">
                    <a asp-area="Identity" asp-controller="Account" asp-action="AddAddress" class="">Add New Address</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="/js/Controllers/CartItems/Index.js"></script>
}